.plans {
	@extend %flexbox;
	@include flex-flow(wrap);
	padding: 50px 0 30px 0;

	.plan {
		list-style: none;
		padding: 0;
		margin: 0 10px 50px 10px;
		text-align: center;
		border: none;
		border-radius: 24px;
		background: #fff;
		box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05), 0 8px 10px -6px rgba(0, 0, 0, 0.01);
		transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
		overflow: hidden;

		&:hover {
			transform: translateY(-10px);
			box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.1);
		}

		width: 100%;

		.highlighted {
			font-size: 1.2em
		}

		.app-cta {
			padding: 0;

			a {
				display: block;
				box-sizing: border-box;
				padding: 20px 0;
				border-radius: 0 0 2px 2px;
				border: 0;
			}
		}

		@media #{$desktop} {
			-webkit-flex: 1;
			flex: 1;
		}

		li {
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			padding: 20px 0;

			h3 {
				padding: 0;
				margin: 0;
				color: #fff;
				font-weight: normal;
			}
		}
	}
}

.faq {
	@media #{$desktop} {
		@include columns(2);
	}

	color: #666;

	div {
		break-inside: avoid;
		padding: 25px 0;
	}

	dt {
		font-weight: bold;
		margin: 0 0 5px 0;
	}

	dd {
		padding: 0;
		margin: 0;

	}
}