.footer-links {
	width: 100%;
	margin: 10px;
	padding: 0;

	@media #{$tablet} {
		-webkit-flex: 1 0 180px;
		flex: 1 0 180px;
	}

	li {
		list-style: none;
		margin: 15px auto;

		@media #{$tablet} {
			max-width: 150px;
		}

		a {

			&:hover {
				text-decoration: none;
			}

			svg {
				fill: #999;
				margin-right: 10px;
				transition: fill 0.2s ease;
				vertical-align: middle;
				position: relative;
				top: -2px;
				width: 22px;
				height: 22px;
			}

			&:hover svg {
				fill: #fff;
			}

			&.twitter-icon:hover svg {
				fill: #55acee;
			}

			&.instagram-icon:hover svg {
				fill: #f167f5;
			}

			&.linkedin-icon:hover svg {
				fill: #0077b5;
			}

			&.facebook-icon:hover svg {
				fill: #3b5998;
			}
		}
	}
}

footer {
	padding: 80px 0 50px 0;
	font-size: 1.1em;
	position: relative;
	background: #4a7c9d;
	/* Lighter "celeste azul claro" */
	color: #fff;

	.copyright {
		font-size: .85em;
		margin: 40px auto 0 auto;
		opacity: 0.9;

		@media #{$tablet} {
			text-align: center;
		}

	}

	&,
	a {
		color: rgba(255, 255, 255, 0.9);
	}

	h2 {
		font-size: 1.4em;
		margin: 30px 0;
		color: #fff;
		font-weight: 700;
	}

	.footer-columns {
		@extend %flexbox;
		@include flex-flow(wrap);
		margin: -10px -10px 10px -10px;
	}

	a {
		text-decoration: none;
		transition: all 0.3s ease;

		&:hover {
			color: #fff;
			transform: translateX(3px);
		}
	}
}