.styles {
  width: 100%;
  background: #eee;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 3px;

  .style-picker {
    z-index: 2;
    display: block;
    line-height: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;

    > div {
      width: 20px;
      height: 20px;
      border: 1px solid #000;
      display: inline-block;
      margin: 0 5px 0 0;
      border-radius: 20px;
      cursor: pointer;
    }
  }

  > div + div {
    display: none;
  }

  i {
    font-size: 14rem;
    color: #fff;
  }
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;

  .styles {
    width: auto;
    flex: 1 1 300px;
    margin-left: 40px;
  }

  .product-details {
    flex: 2 1 500px;
    text-align: left;
    margin-left: 40px;

    h4 {
      color: $brand-color;
    }
  }

  form {
    border: 1px solid #444;
    padding: 20px;
    border-radius: 2px;

    label:first-child {
      margin-top: 0;
    }
  }
}

.product-list {
  display: flex;
  flex-flow: wrap;
  margin: 0 -20px;

  &,
  > li {
    list-style: none;
    padding: 0;
  }

  > li {
    flex: 1 1 300px;

    &:not(:empty) {
      margin: 20px;
    }

    > img {
      width: 200px;
      height: 200px;
    }
  }

  h4 {
    margin: 10px 0 0 0;
    padding-right: 100px;
  }

  p {
    line-height: 1;
    margin: 10px 0 0 0;
  }

  .product-description p {
    font-size: 1.1rem;
  }

  .product {
    display: flex;
    align-items: center;
    flex-direction: row;
    /**
   * prevent children elements from "bleeding through" in 3D space
   * by creating a 3D transform container in the parent
   */
    transform: translate3d(0px, 0px, 0px);
    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }

    &:nth-last-of-type(odd) & {
      &__information {
        margin-left: 0;
      }

      &__image {
        transform: perspective(650px) rotateZ(5deg) rotateX(-2.5deg)
          rotateY(-15deg) scale(0.8) translateX(30px);
        box-shadow: 30px 30px 50px
          transparentize(darken($brand-color, 50%), 0.9);
      }
    }

    &__information {
      flex: 1;
    }

    &__image {
      flex: 1;
      height: 100%;
      width: 100%;
      max-width: 500px;
      max-height: 400px;
      background-size: cover;
      transform: perspective(650px) rotateZ(-5deg) rotateX(2.5deg)
        rotateY(15deg) scale(0.8) translateX(-30px);
      box-shadow: -30px 30px 50px transparentize(darken($brand-color, 50%), 0.9);
    }

    margin-right: auto;
  }

  &__title {
    margin-top: 0;
  }
}
