<!doctype html>

<html lang="es">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_key }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "{{ site.google_analytics_key }}");
  </script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% seo %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&family=Outfit:wght@300;400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css" />
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
  {% feed_meta %}

</head>

<body>
  <header>
    <div class="container">
      {% include navigation.html %}
    </div>
  </header>
  <main>
  {{ content }}
  </main>
  <footer>
    <div class="container">
      <p class="editor-link"></p>
      <div class="footer-columns">
        {% for column in site.data.footer %}
        <ul class="footer-links">
          {% for link in column.links %}
          <li>
            <a {% if link.new_window %}target="_blank" {% endif %} href="{% include relative-src.html src=link.link %}"
              {% if link.social_icon %}class="{{ link.social_icon }}-icon" {% endif %}>
              {% if link.social_icon %} {% include social-icon.html
              icon=link.social_icon %} {% endif %} {{ link.name }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      <p class="copyright">
        &copy; {{ site.time | date: '%Y' }} Lahuen Cooperativa de Trabajo LTDA
      </p>
    </div>
  </footer>
  <script>
    document.getElementById("open-nav").onclick = function () {
      document.body.classList.toggle("nav-open");
      var expanded = this.getAttribute("aria-expanded") === "true";
      this.setAttribute("aria-expanded", !expanded);
      return false;
    };
  </script>
  {% include botpress.html %}
  <script src="{{ site.baseurl }}/js/application.js" type="text/javascript"></script>
</body>

</html>