<!doctype html>

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% seo %}
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lobster"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png" />
    {% feed_meta %}

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WQDZCT8S");
    </script>
    <!-- End Google Tag Manager <-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.css"
    />
    <link rel="preconnect" href="https://app.snipcart.com" />
    <link rel="preconnect" href="https://cdn.snipcart.com" />
    {% if site.snipcart_key %}
    <script
      async
      src="https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.js"
    ></script>
    <div
      hidden
      id="snipcart"
      data-api-key="{{ site.snipcart_key }}"
      data-currency="{{ site.snipcart_currency }}"
      data-config-modal-style="side"
    ></div>
    {% endif %}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WQDZCT8S"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
      <div class="container">
        <div class="company-name">
          <a href="{{ site.baseurl }}/"
            ><img
              src="{{ site.baseurl }}/images/logo.png"
              alt="Hydra Logo"
              width="95"
              height="33"
          /></a>
        </div>
        {% include navigation.html %}
      </div>
    </header>
    {{ content }}
    <footer>
      <div class="container">
        <p class="editor-link">
          <a href="cloudcannon:collections/_data/footer.yml" class="btn"
            ><strong>&#9998;</strong> Edit footer</a
          >
        </p>
        <div class="footer-columns">
          {% for column in site.data.footer %}
          <ul class="footer-links">
            {% for link in column.links %}
            <li>
              <a
                {%
                if
                link.new_window
                %}target="_blank"
                {%
                endif
                %}
                href="{% include relative-src.html src=link.link %}"
                {%
                if
                link.social_icon
                %}class="{{ link.social_icon }}-icon"
                {%
                endif
                %}
              >
                {% if link.social_icon %} {% include social-icon.html
                icon=link.social_icon %} {% endif %} {{ link.name }}</a
              >
            </li>
            {% endfor %}
          </ul>
          {% endfor %}
        </div>
        <p class="copyright">
          &copy; {{ site.time | date: '%Y' }} Lahuen Coop. •
          <a href="#">Terms</a> &amp; <a href="#">Privacy</a> •
          <a href="https://www.lahuen.ar">Github Pages</a>
        </p>
      </div>
    </footer>
    <script>
      document.getElementById("open-nav").onclick = function () {
        document.body.classList.toggle("nav-open");
        return false;
      };
    </script>
    <script
      src="{{ site.baseurl }}/js/application.js"
      type="text/javascript"
    ></script>
    <script src="https://mnmxmx.github.io/fluid-three/dist/fluid-three.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const heroSection = document.getElementById("fluid-hero");
        const fluidEffect = new FluidThree({
          container: heroSection,
        });
        fluidEffect.init();
      });
    </script>
  </body>
</html>
